#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid {
  display: flex;
  color: green;
  width: 700px;
  height: 500px;
  border-color: black;
  border-style: solid;
  flex-wrap: wrap;
}

.changeSize {
  margin-bottom: 25px;
}
